<nav  id="Navbar">
    <ul class="Navbar_UL">
        <li class="Navbar_LI"><a href="/">Home</a></li>
        <li class="Navbar_LI"><a href="/register">Register</a></li>
        <li class="Navbar_LI"><a href="/login">Login</a></li>
    </ul>
</nav>