<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meme-Me</title>
    <!-- <link rel="icon" type='image/png' href="./assets/imgs/reduxi.png"> -->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/base/master.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/layout/main.css" />
</head>
<body>

{{!-- everything supplied from layouts --}}
        {{{ body }}}

    <script src="assets/js/main.js"></script>
</body>
</html>